<!-- Footer -->
<div class="bottomContainer">
    <a class="footer-link" href="/about">AboutMe</a>
    <a class="footer-link" href="https://www.github.com/badfish1337">GitHub</a>
    <a class="footer-link" href="/credit">ImageCredits</a>
    <p></p>
    <p class="copyright">© 2022 Chris Dewey | © CodeGuide</p>
</div>


</body>

</html>