<%- include("partials/header.ejs") -%>

<!-- Top Section -->
<div class="topContainer">
    <img class="codeIcon" src="images/animatedbrackets.gif" alt="code-icon-img">
    <h1 class="mainTitle">CODEGUIDE</h1>
    <h2 class="mainSubtitle">a resource for developers & admins.</h2>
</div>

<!-- Middle Section -->
<div class="middleContainer">
    <div class="welcome">
        <h2>Welcome.</h2>
        <img class="welcomeImg" src="images/frustrated.png" alt="frustrated-img">
        <p>The internet is full of outstanding resources for aspiring developers and professionals alike. Every time I
            found a great reference, I would bookmark it. Eventually, my browser's bookmarks became unruly. Even after
            experimenting with multiple organizational methods, taming these bookmarks became ineffective. Particularly
            because I would sift through loads of great information just to copy and paste a snippet of code or
            reference an algorithm. Sometimes, I didn't even understand the code that I was using! So, to deepen my own
            understanding, I started taking notes. After revising these notes, they started to feel
            like quick references or cheat sheets. CodeGuide was born to serve as a personal blog as a developer and a
            place to share my journey with you!</p>
    </div>
    <br>
    <span>**************************************************************************************************************************************************</span>
    <br>

    <div class="languages">

        <h2>Languages.</h2>
        <div class="languageRow">
            <img class="languageImgL" src="images/c-.png" alt="cpp-img">
            <h3>C++</h3>
            <p>It's fast, efficient, versatile, and powerful. Unfortunately, the learning
                curve can be steep. Many students start with C++, because it reinforces a great programmer's mindset.
                Pointers and memory management can be incredibly challenging!</p>
        </div>

        <div class="languageRow">
            <img class="languageImgR" src="images/java.png" alt="java-img">
            <h3>Java</h3>
            <p>Java is used almost everywhere. From Android, to web applications, to the ATM at your local bank, you
                probably interact with a Java application at least once each day! The basics are fairly easy, but things
                get complicated when learning about multithreading, lambdas, and streams.</p>
        </div>

        <div class="languageRow">
            <img class="languageImgL" src="images/js.png" alt="javascript-img">
            <h3>JavaScript</h3>
            <p>Javascript is incredible versatile; there's no surprise that it's climbing to the top spot in the list of
                most popular programming languages. The front-end programmer's language of choice has some unusual
                quirks!</p>
        </div>

        <div class="languageRow">
            <img class="languageImgR" src="images/css-3.png" alt="css-img">
            <h3>HTML & CSS</h3>
            <p>Function and form! These two are critical for front-end developers. "Real" programming languages or not,
                both HTML and CSS play incredibly important roles in web design. Most of this website was made with HTML
                and CSS!</p>
        </div>

        <div class="languageRow">
            <img class="languageImgL" src="images/python.png" alt="python-img">
            <h3>Python</h3>
            <p>Deceivingly simple, yet unreasonably frustrating, Python is the king of data science. Unlike many other
                languages, whitespace in Python cannot be ignored! Need to write a script for Linux? Why not use
                Python? </p>
        </div>

    </div>
    <span>**************************************************************************************************************************************************</span>

    <div class="iT">
        <h2>IT Administration.</h2>
        <div class="languageRow">
            <img class="languageImgR" src="images/linux.png" alt="linux-img">
            <h3>Linux</h3>
            <p class="itTTxt">After having built a reputation for being reserved for the most technologically inclined,
                this open source operating system can do it all! The Linux command line is just as powerful as it is
                mysterious!</p>
        </div>

        <div class="languageRow">
            <img class="languageImgL" src="images/server.png" alt="servers-img">
            <h3>Servers</h3>
            <p class="iTTxt">Follow my journey with building a home lab. From converting a tired old Windows machine to
                a network attached storage, to a 42U rack full of gear, tinkering with a home lab is very rewarding!
                Virtualization, Containerization, Kubernetes, Docker? Here we come!</p>
        </div>

        <div class="languageRow">
            <img class="languageImgR" src="images/networking.png" alt="networking-img">
            <h3>Networking</h3>
            <p class="iTTxt">The digital Pony Express! Ever wondered how that email traverses the vast unknown that
                makes up the internet and lands in your friend's inbox almost immediately? Take the red pill and follow
                me down this rabbit hole!</p>
        </div>

    </div>

    <span>**************************************************************************************************************************************************</span>

    <div class="contactMe">
        <h2>Get In Touch.</h2>
        <h3>If you love technology as much as I do.</h3>
        <p>Are you a student or learning a new language? Want to collaborate on a project? I'd love to chat!</p>
        <a class="btn" href="mailto:chris@codeguide.tech">CONTACT ME</a>
    </div>
</div>

<%- include("partials/footer.ejs") -%>